.MovieDetailArea {
  color: white;
  overflow: hidden;
  padding: 100px 0 0;

  @media(max-width: 991px) {
    padding: 120px 0 0;
  }

  @media(max-width: 800px) {
    padding: 110px 0 0;
  }

  @media(max-width: 800px) {
    padding: 72px 0 0;
  }

  .row {
    position: relative;
  }

  & .col6-left {
    padding: 0;
    height: 950px;
    flex-grow: 1;

    @media(max-width: 1400px) {
      height: 820px;
    }

    @media(max-width: 1200px) {
      height: 693px;
    }

    @media(max-width: 991px) {
      height: 638px;
    }

    @media(max-width: 800px) {
      height: 510px;
    }

    @media(max-width: 750px) {
      width: 100%;
      height: 996px;
    }

    @media(max-width: 480px) {
      height: 693px;
      margin-bottom: -15px;
    }

    @media(max-width: 428px) {
      height: 617px;
      margin-bottom: -20px;
    }

    @media(max-width: 414px) {
      height: 596px;
      margin-bottom: -20px;
    }

    @media(max-width: 390px) {
      height: 558px;
    }

    @media(max-width: 375px) {
      height: 537px;
    }

    @media(max-width: 360px) {
      height: 515px;
    }

    @media(max-width: 320px) {
      height: 455px;
    }

    & .movie-poster {
      width: 94%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-width: 1400px) {
        background-size: cover;
      }

      @media (max-width: 750px) {
        width: 100% !important;
        background-size: 100%;
      }
    }
  }

  & .col6-right {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
    flex-grow: 1;

    @media(max-width: 750px) {
      padding: 0;
      padding-top: 50px;
      width: 100%;
      display: flex;
    }

    & .movieDetailInfo {
      width: 100%;

      @media(max-width:700px) {
        padding: 0 20px;
      }

      & h1 {
        font-weight: bold;
        margin: 20px 0 10px;
        margin-left: -5px;
        font-size: 2.5em;

        @media(max-width:1200px) {
          font-size: 2em;
        }

        @media(max-width:991px) {
          font-size: 1.5em;
        }

        @media(max-width:800px) {
          font-size: 1.4em;
        }

        @media(max-width:750px) {
          font-size: 1.3em;
          margin-left: 0;
        }
      }

      & h4 {
        color: #999;
        margin-bottom: 40px;

        @media(max-width: 1200px) {
          margin-bottom: 35px;
        }

        @media(max-width: 991px) {
          font-size: 1.2em;
          margin-bottom: 30px;
        }
      }

      & .popularity {
        display: flex;
        flex-direction: row;
        margin-bottom: 23px;
      }

      & .me-2 {
        padding: 7px 10px;
      }

      & .info2 {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        @media(max-width: 1199px) {
          margin-top: 26px;
        }

        & .badge {
          padding: 12px;
          margin-bottom: 10px;
          width: 120px;
          font-size: 15px;

          @media(max-width: 880px) {
            padding: 10px 0 13px;
            margin-bottom: 10px;
            width: 101px;
            font-size: 14px;
          }
        }

        & .release_date {
          display: flex;
          flex-direction: row;

          >div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: -10px 20px 0;
          }
        }
      }
    }
  }

  & .trailer-btn {
    width: 48.3%;
    height: 55px;
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 16px;

    @media(max-width: 1400px) {
      width: 45.5%;
    }

    @media(max-width: 1200px) {
      width: 46.8%;
    }

    @media(max-width: 991px) {
      width: 44.5%;
    }

    @media(max-width: 900px) {
      width: 43.4%;
    }

    @media(max-width: 800px) {
      width: 100%;
    }

    @media(max-width: 750px) {
      right: 0;
    }

    @media(max-width: 700px) {
      border-radius: 0;
      padding: 0 20px;
    }
  }
}

.tabMenus {
  margin: 30px 0 -15px;

  @media(max-width: 350px) {
    margin: 30px 0 0 -1px;
    text-align: center;
  }

  & button {
    background-color: transparent;
    border: 0;
    padding: 20px 40px 0 0;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: bold;
    outline: none !important;

    @media(max-width: 480px) {
      font-size: 20px;
      padding: 8px 20px 12px;
      border-top: 0.5px solid #666;
      border-bottom: 0.5px solid #666;
      margin: 0;
      width: 50%;
      margin-left: -0.5px;
      &:first-child {
        border-right: 0.5px solid #666;
      }
    }

    &.Active {
      color: white;
    }

    &.noActive {
      color: #555;
    }
  }
}

@media(max-width: 350px) {
  .reviewsArea {
    padding: 0 15px;
  }
}

.modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;

  & .modal-body {
    border: 1px solid #fff;
    width: 1080px;
    height: 720px;
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
  }

  & .modal-header {
    border: 0;
    padding: 8px;

    & .btn-close {
      opacity: 1;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100% !important;
  }
}

.overViewBox {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 25px 0 26px;
  width: 100%;

  & .overView {
    height: 170px;
    overflow-y: hidden;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    @media(max-width: 1200px) {
      height: 125px;
      -webkit-line-clamp: 5;
    }

    @media(max-width: 991px) {
      height: 100px;
      -webkit-line-clamp: 4;
    }

    @media(max-width: 800px) {
      height: 50px;
      -webkit-line-clamp: 2;
    }
  }
}

.recommendAtions-Area {
  & img {
    height: 370px;

    @media(max-width: 1400px) {
      height: 317px;
    }

    @media(max-width: 1200px) {
      height: 264px;
    }

    @media(max-width: 991px) {
      height: 237px;
    }

    @media(max-width: 800px) {
      height: 239px;
    }

    @media(max-width: 750px) {
      height: 300px;
    }

    @media(max-width: 480px) {
      height: 300px;
    }
    @media(max-width: 428px) {
      height: 260px;
    }
    @media(max-width: 414px) {
      height: 260px;
    }
    @media(max-width: 390px) {
      height: 240px;
    }
    @media(max-width: 360px) {
      height: 210px;
    }
  }

  @media(max-width: 480px) {
    & .recommendAtions {
      display: flex;
      justify-content: center;
      gap: 10px !important;
      margin-left: -2px;
    }
  }

}

.container {
  @media(max-width: 991px) {
    max-width: 880px;
  }

  @media(max-width: 900px) {
    max-width: 810px;
  }

  @media(max-width: 800px) {
    max-width: 700px;
  }

  @media(max-width: 750px) {
    max-width: 640px !important;
  }
}

.row {
  display: flex;

  @media(max-width: 800px) {
    padding-bottom: 70px;
  }

  @media(max-width: 750px) {
    margin: 0;
  }
}