.recommendAtions-Area {
  margin: 35px 0;
  h2 {
    font-weight: bold;
    padding-bottom: 10px;
  }
  & .noRecommendAtions {
    color: #aaa;
  }
  & .recommendAtions {
    border: 0px solid red;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    & h6 {
      font-size: 13px;
      color: white;
    }
    & .reviewsText {
      color: #aaa;
      font-size: 13px;
    }
    & div {
      cursor: pointer;
    }
  }
}