.carousel-container {
  overflow: hidden;
  height: 470px;
  margin-top: -30px;
}

.react-multiple-carousel__arrow {
  background: rgba(255, 255, 255, 0.5) !important;

  &:hover {
    background: rgba(255, 255, 255, 1) !important;
  }
}

.react-multiple-carousel__arrow {
  width: 80px;
  height: 80px;
  border-radius: 80px !important;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  @media(max-width: 480px){
    width: 70px;
    height: 70px;
  };
  @media(max-width: 360px){
    width: 55px;
    height: 55px;
  };

  &::before {
    font-size: 30px !important;
    color:  #333 !important;
  }

  &:hover::before {
    color: #000 !important;
  }
}

.react-multiple-carousel__arrow--right {
  right: calc(1.5% + 1px) !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(1.5% + 1px) !important;
}

@media (max-width: 1660px) {
  .carousel-container {
    height: 500px;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1446px) {
  .carousel-container {
    height: 470px;
  }
}

@media (max-width: 1280px) {
  .carousel-container {
    height: 480px;
  }
}

@media (max-width: 860px) {
  .carousel-container {
    height: 510px;
  }
}

@media (max-width: 664px) {
  .carousel-container {
    height: 560px;
  }
}

@media (max-width: 580px) {
  .carousel-container {
    height: 500px;
  }
}

@media (max-width: 520px) {
  .carousel-container {
    height: 475px;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: 435px;
  }
}

@media (max-width: 428px) {
  .carousel-container {
    height: 390px;
  }
}

@media (max-width: 360px) {
  .carousel-container {
    height: 350px;
  }
}